AGENT_APP=AdbAgent

CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=
 
AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__GRAPH__SETTINGS__AZUREBOTOAUTHCONNECTIONNAME=MSFTAAD
AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__GRAPH__SETTINGS__OBOCONNECTIONNAME=SERVICE_CONNECTION
 
DATABRICKS_HOST=

FOUNDRY_URL=
ADB_CONNECTION_NAME=
MODEL_DEPLOYMENT_NAME=

STORAGE_ACCTNAME=
STORAGE_CONTNAME=